@import "src/scss_var/variables";
.photo{
  max-width: 200px;
  border: solid 1px $black;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__title{

  }
  &__body{

  }
}
